<form method="POST" action="/twilio/add">
    <input type="text" name="name"> Name
    <br>
    <input type="number" name="phoneNumber"> Phone number
    <br>
    <input type="number" name="interval" step="0.01"> Frequency (in hours)
    <br>
    <button>Submit</button>
</form>

<h1></h1>