<div style="display: flex; justify-content: center; align-items: center;">
    <h1>
        The Facebook messenger version of Motivate Bot is currently awaiting approval from Facebook. Stay tuned :)
    </h1>
</div>